filtered/**
data/**
germline/*
!data/NA12878.NA12891.NA12892.vcf
!data/Droso_R7.lumpy.vcf
!script/bpstats.pl
!script/clean.py
!script/getbps.py
!script/notch_hits.pl
!script/plotBPs.r
!script/update_bps.py
